<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741258166528-2ska0ljlvet73vp0cp6tvtkok66fummr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741258166528-2ska0ljlvet73vp0cp6tvtkok66fummr</string>
	<key>API_KEY</key>
	<string>AIzaSyBJa-Dr2LtmcDwSQ6ACMmo4XY1hqOsqVns</string>
	<key>GCM_SENDER_ID</key>
	<string>741258166528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naga.easyTodos</string>
	<key>PROJECT_ID</key>
	<string>easy-budgets-2b8c6</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-budgets-2b8c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741258166528:ios:d8c5973e2d001902e473e5</string>
</dict>
</plist>